.checkoutProduct {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.checkoutProduct__info {
    padding-left: .8rem;
}

.checkoutProduct__info > button {
    background-color: #ff1f5a;
    border-radius: 2px;
    border: 1px solid;
    margin-top: 1rem;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 18rem;
    height: 18rem;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 1.5rem;
    font-weight: 800;
}