.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: contain;
    width: 10rem;
    margin-right: auto;
    margin-left: auto;
}

.login__container {
    background-color: #f2eeee;
    width: 22rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 2rem;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 2rem;
}


.login__container > form > h5 {
    margin-bottom: .5rem;
}

.login__container > form > input {
    height: 1.5rem;
    margin-bottom: 1rem;
    background-color: white;
    width: 98%;
}

.login__container > p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.login__signInButton {
    background-color: #ff1f5a;
    border-radius: 2px;
    width: 100%;
    height: 25px;
    border: 1px solid;
    margin-top: .5rem;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 25px;
    border: 1px solid;
    margin-top: 1rem;
    border-color: darkgray;
}